body {
    font-family: sans-serif;
    background-color: White;
    margin-top: 10px;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 150px;
    box-shadow: 0px 0px 7px 1px;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    color: black;
    font-family: s-sarif;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #9c27b040;
    height: 170px;
}
